.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 85%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 15%;
        text-align: right;
      }
    }
  }

  @media only screen and (max-width: 690px) {
    /* For mobile phones: */
    .collection-item{
        min-width: 47%;
        height: 320px;
        margin-bottom: 20px;
    }
  }
  