*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px 60px;
  width: 98vw;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 890px) {
  /* For mobile phones: */
  body{
      padding: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  body{
      padding: 10px;
  }
}
a {
  text-decoration: none;
  color: darkolivegreen;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
